body,
h1,
p {
  margin: 0;
}

body {
  font-family: "Lexend", sans-serif;
}

.flex-container {
  display: flex;
}

/* HEADER */

.announcement-bar {
  text-align: center;
  padding: 10px;
  background-color: rgb(0, 119, 255);
  color: white;
  font-family: "DynaPuff", sans-serif !important;
  margin: 0 0 10px 0;
}

.pre-nav-links {
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.pre-nav-links a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.divider-line {
  height: 1px;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

nav {
  align-items: center;
  justify-content: space-evenly;
}

.website-header img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.search-bar-nav {
  position: relative;
}

.search-bar-nav input {
  border-radius: 5px;
  border: 0.5px solid rgb(156, 154, 154);
  padding: 10px;
  width: 350px;
}

.search-bar-nav img {
  position: absolute;
  right: 9px;
  top: 10px;
}

.search-bar-nav img:hover {
  cursor: pointer;
}

.icons-menu i {
  padding: 0 10px;
  font-size: 1.5em;
  opacity: 65%;
}

.icons-menu i:hover {
  cursor: pointer;
  opacity: 90%;
}

/* JS STYLES */

/* order track popup */

.order-track-box-hidden {
  display: none;
}

.order-track-box-active {
  border: 1px solid rgb(29, 29, 212);
  max-width: 420px;
  width: 100%;
  margin: 40px auto;
  padding: 30px;
  position: relative;
}

.order-track-box-active form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.order-track-box-active input {
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
}

.order-track-btn {
  width: 100%;
  max-width: 150px;
  padding: 10px 5px;
  border: none;
  background-color: #2066e4;
  color: white;
}

.order-track-box-active button:hover {
  cursor: pointer;
}

#exit-track-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 30px;
}
