body,
h1,
p,
h5 {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

select,
input {
  font-family: inherit;
  font-size: inherit;
}

.flex-container {
  display: flex;
}

.hidden {
  display: none;
}

.container {
  margin: 0 120px;
}

/* HEADER */

.announcement-bar {
  text-align: center;
  padding: 10px;
  background-color: rgb(0, 119, 255);
  color: white;
  font-family: "DynaPuff", sans-serif !important;
  margin: 0 0 10px 0;
}

.pre-nav-links {
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.pre-nav-links a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.links-left a {
  color: #0177ff;
}

.pre-nav-links a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.divider-line {
  height: 1px;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.25);
  margin-bottom: 10px;
}

/* TOP NAVIGATION */

.top-nav {
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
}

.website-header img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

/* SEARCH BAR  */

.search-bar-nav {
  position: relative;
  width: 480px;
  padding: 10px;
}

.search-bar-nav input {
  border-radius: 6px;
  border: 1px solid grey;
  padding: 10px;
  width: 500px;
  height: 30px;
  background-color: white;
  position: relative;
}

.search-bar-nav input::placeholder {
  font-size: 17px;
}

.search-bar-nav img {
  position: absolute;
  right: -25px;
  top: 30px;
}

.search-bar-nav img:hover {
  cursor: pointer;
}

/* SEARCH BAR DROPDOWN */

.search-bar-dropdown {
  padding: 15px 20px 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 4px 8px 3px rgba(174, 174, 174, 0.51);
  position: absolute;
  width: inherit;
  z-index: 2;
  background-color: white;
}

.search-item {
  display: flex;
  justify-content: space-between;
}

.search-bar-dropdown h6 {
  margin: 0;
  font-size: 16px;
}

.search-bar-dropdown ul {
  padding: 0;
}

.search-bar-dropdown ul li {
  list-style: none;
  margin-bottom: 20px;
}

.search-bar-dropdown ul li a {
  text-decoration: none;
  color: black;
}

.search-bar-dropdown ul li a .bi-search {
  margin-right: 10px;
}

.icons-menu i {
  padding: 0 10px;
  font-size: 1.5em;
}

.icons-menu i:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1px rgba(0, 119, 255, 1));
}

/* MAIN MENU */

.main-menu {
  position: relative;
  z-index: 1;
}

.main-menu ul a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px;
}

.main-menu ul li {
  list-style: none;
}

.main-menu ul li a:hover {
  background-color: #0056b7;
  cursor: pointer;
}

.main-menu ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #0177ff;
  padding: 20px;
  margin: 0;
}

/* OVERLAY */

/* JS STYLES */

/* order track popup */

/* both popup boxes here */

.popup-box {
  border: 1px solid rgb(29, 29, 212);
  max-width: 420px;
  width: 100%;
  margin: 40px auto;
  padding: 30px;
  position: relative;
  border-radius: 8px;
  text-align: center;
}

.popup-box form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup-box input {
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border-radius: 8px;
}

/* REUSABLE BTN ON POPUP */

.popup-primary-btn {
  width: 100%;
  max-width: 150px;
  padding: 10px 5px;
  border: none;
  background-color: #2066e4;
  color: white;
  border-radius: 8px;
}

.popup-primary-btn:hover {
  cursor: pointer;
}

.popup-close-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 10px;
}

.popup-close-btn:hover {
  cursor: pointer;
}

/* grooming services popup */

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.popup-main-label {
  margin: 0 auto;
}

.grooming-field {
  position: relative;
}

.pet-type-options {
  width: 100%;
  padding: 10px;
}

.pet-type-options option {
  font-size: 16px;
}

.grooming-label {
  position: absolute;
  left: 5px;
  top: 1px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.grooming-box .popup-primary-btn {
  margin-top: 20px;
}

/* HERO */

/* REMOVE LATER, FOR LAYOUT PURPOSES */
.hero img {
  width: 100px;
  height: 100px;
}

.hero {
  background-color: #de2733;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  color: white;
  padding: 40px 0;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 56px;
  padding: 10px;
}

.hero-content h5 {
  font-size: 24px;
  padding: 10px;
}

.hero-btn {
  color: white;
  border-radius: 6px;
  border: none;
  background-color: #2066e4;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 580;
  margin: 20px 0 0 10px;
}

.hero-badge {
  color: white;
}
