body,
h1,
h4,
p,
h5 {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

select,
input {
  font-family: inherit;
  font-size: inherit;
}

.flex-container {
  display: flex;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

a:hover,
button:hover {
  cursor: pointer;
}

/* HEADER */

.announcement-bar {
  text-align: center;
  padding: 10px;
  background-color: rgb(0, 119, 255);
  margin: 0 0 10px 0;
}

.announcement-bar a {
  color: white;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
}

.announcement-bar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pre-nav-links {
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.pre-nav-links a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-weight: 500;
}

.links-left a {
  color: #0177ff;
}

.pre-nav-links a:hover {
  text-decoration: underline;
}

.divider-line {
  height: 1px;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.25);
  margin-bottom: 10px;
}

/* TOP NAVIGATION */

.top-nav {
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
}

.website-header img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

/* SEARCH BAR  */

.search-bar-nav {
  position: relative;
  width: 480px;
  padding: 10px;
}

.search-bar-nav input {
  border-radius: 6px;
  border: 1px solid grey;
  padding: 10px;
  width: 500px;
  height: 30px;
  background-color: white;
  position: relative;
}

.search-bar-nav input::placeholder {
  font-size: 17px;
}

.search-bar-nav img {
  position: absolute;
  right: -25px;
  top: 30px;
}

.search-bar-nav img:hover {
  cursor: pointer;
}

/* SEARCH BAR DROPDOWN */

.search-bar-dropdown {
  padding: 15px 20px 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 4px 8px 3px rgba(174, 174, 174, 0.51);
  position: absolute;
  width: inherit;
  z-index: 2;
  background-color: white;
}

.search-item {
  display: flex;
  justify-content: space-between;
}

.search-bar-dropdown h6 {
  margin: 0;
  font-size: 16px;
}

.search-bar-dropdown ul {
  padding: 0;
}

.search-bar-dropdown ul li {
  list-style: none;
  margin-bottom: 20px;
}

.search-bar-dropdown ul li a {
  text-decoration: none;
  color: black;
}

.search-bar-dropdown ul li a .bi-search {
  margin-right: 10px;
}

.header-actions i {
  padding: 0 10px;
  font-size: 1.5em;
}

.header-actions i:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1px rgba(0, 119, 255, 1));
}

/* MAIN MENU */

.main-menu {
  position: relative;
  z-index: 1;
}

.main-menu ul a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px;
  font-size: 20px;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.main-menu ul li {
  list-style: none;
}

.main-menu ul li a:hover,
.carousel-next:hover {
  background-color: #0056b7;
  cursor: pointer;
}

.main-menu ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #0177ff;
  padding: 15px;
  margin: 0;
}

/* HERO */

.hero {
  background-color: #de2733;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 6px 6px;
  position: relative;
  z-index: 1;
}

.hero-content {
  color: white;
  padding: 40px 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 56px;
  padding: 10px;
}

.hero-content h5 {
  font-size: 24px;
  padding: 10px;
}

.hero-btn {
  display: block;
  width: fit-content;
  color: white;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  background-color: #2066e4;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 580;
  margin: 10px 0 0 10px;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.hero-btn:hover {
  background-color: #1b5dd7;
}

.hero-badge {
  background-color: white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 35%;
  box-shadow: 0px 4px 8px 3px rgba(174, 174, 174, 0.51);
}

.hero-badge img {
  width: 200px;
  height: 120px;
  position: absolute;
  bottom: 35px;
}

.hero-badge p {
  position: absolute;
  bottom: 27%;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-7deg);
  font-size: 30px;
}

.hero-badge h4 {
  color: #de2733;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: -0.5px;
  font-size: 25px;
  line-height: 170%;
  padding-bottom: 40px;
}

.h4-dogs {
  font-size: 80px !important;
  font-weight: 900;
}

.hero-media img {
  width: fit-content;
  height: 400px;
  border-radius: 0 0 6px 0;
  display: block;
}

/* PET CARROUSEL */

.pet-carrousel h1 {
  text-align: center;
  margin: 55px 0 20px;
  font-size: 36px;
  font-weight: 800;
}

.pet-card img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin-bottom: 5px;
  box-shadow: 0px 4px 8px 3px rgba(174, 174, 174, 0.51);
}

.pet-card {
  text-align: center;
  font-weight: 500;
}

.pet-card a {
  text-decoration: none;
  color: black;
}

.pet-container {
  display: flex;
  gap: 25px;
  position: relative;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 15px;
}

.carousel-next {
  position: absolute;
  right: 1px;
  border-radius: 60%;
  background-color: #2066e4;
  padding: 15px 20px;
  color: white;
  border: none;
  font-size: 18px;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}
