body,
h1,
p {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

select,
input {
  font-family: inherit;
  font-size: inherit;
}

.flex-container {
  display: flex;
}

/* HEADER */

.announcement-bar {
  text-align: center;
  padding: 10px;
  background-color: rgb(0, 119, 255);
  color: white;
  font-family: "DynaPuff", sans-serif !important;
  margin: 0 0 10px 0;
}

.pre-nav-links {
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 5px; */
}

.pre-nav-links a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.pre-nav-links a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.divider-line {
  height: 1px;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.25);
  margin-bottom: 10px;
}

/* MENU-NAVIGATION */

nav {
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
}

.website-header img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.main-menu ul a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.9);
  font-weight: 800;
  letter-spacing: 0.8px;
}

.main-menu-deals {
  color: #ff2433;
}

.main-menu ul a:hover,
.main-menu-deals:hover {
  color: rgba(0, 119, 255);
  cursor: pointer;
}

.main-menu ul {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.search-bar-nav {
  position: relative;
  width: 330px;
}

/* SEARCH BAR  */

.search-bar-nav input {
  border-radius: 6px 6px 0 0;
  border: none;
  padding: 10px;
  width: 350px;
  background-color: #f7f7f7;
  position: relative;
}

.search-bar-nav input::placeholder {
  font-size: 14px;
}

.search-bar-nav img {
  position: absolute;
  right: -20px;
  top: 11px;
}

.search-bar-nav img:hover {
  cursor: pointer;
}

/* SEARCH BAR DROPDOWN */

.search-bar-dropdown {
  padding: 15px 20px 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 4px 8px 3px rgba(174, 174, 174, 0.51);
  position: absolute;
  width: inherit;
}

.item {
  display: flex;
  justify-content: space-between;
}

.search-bar-dropdown h6 {
  margin: 0;
  font-size: 16px;
}

.search-bar-dropdown ul {
  padding: 0;
}

.search-bar-dropdown ul li {
  list-style: none;
  margin-bottom: 20px;
}

.search-bar-dropdown ul li a {
  text-decoration: none;
  color: black;
}

.search-bar-dropdown ul li a .bi-search {
  margin-right: 10px;
}

.search-bar-dropdown .arrow-left {
  text-align: left;
}

.search-bar-dropdown-hidden {
  display: none;
}

.icons-menu i {
  padding: 0 10px;
  font-size: 1.5em;
}

.icons-menu i:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1px rgba(0, 119, 255, 1));
}

/* JS STYLES */

/* order track popup */

/* both popup boxes here */
.popup-box-hidden {
  display: none;
}

.popup-box-active {
  border: 1px solid rgb(29, 29, 212);
  max-width: 420px;
  width: 100%;
  margin: 40px auto;
  padding: 30px;
  position: relative;
  border-radius: 8px;
  text-align: center;
}

.popup-box-active form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup-box-active input {
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border-radius: 8px;
}

/* REUSABLE BTN ON POPUP */

.popup-action-btn {
  width: 100%;
  max-width: 150px;
  padding: 10px 5px;
  border: none;
  background-color: #2066e4;
  color: white;
  border-radius: 8px;
}

.popup-action-btn:hover {
  cursor: pointer;
}

.exit-small-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 10px;
}

.exit-small-btn:hover {
  cursor: pointer;
}

/* grooming services popup */

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.popup-main-label {
  margin: 0 auto;
}

.grooming-field {
  position: relative;
}

.pet-type-options {
  width: 100%;
  padding: 10px;
}

.pet-type-options option {
  font-size: 16px;
}

.grooming-label {
  position: absolute;
  left: 5px;
  top: 1px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.grooming-services-box .popup-action-btn {
  margin-top: 20px;
}
